<!-- Call the model to be able to use the teacher data -->
@model IEnumerable<HTTP5101_Assignment3_AustinCaron.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>List of Teachers:</h2>
<a href="/Teacher/New">Add a New Teacher</a>
<div>
    @{ 
        // foreach loops through each teacher in the IEnumerable list
        foreach(HTTP5101_Assignment3_AustinCaron.Models.Teacher Teacher in Model)
        {
            <!-- display each teacher as a link that routes to the individual teacher page -->
            <div>
                <a href="/Teacher/Show/@Teacher.Id">@Teacher.Name</a>
            </div>
        }
    }
</div>

