
@{
    ViewBag.Title = "Index";
}

<h2>Teacher Name: @ViewData["TeacherName"]</h2>
<h3>Info:</h3>
<ul>
    <li><p>Employee Number: @ViewData["EmployeeNumber"]</p></li>
    <li><p>Hire Date: @ViewData["HireDate"]</p></li>
    <li><p>Salary: @ViewData["Salary"]</p></li>
</ul>

 