
@{
    // Viewbag title changes the name of the page
    ViewBag.Title = "Show";

    // defining data variable allows access to the data stored inside of the object
    var data = ViewBag.Teacher;
}
<h2>Teacher Name: @data.Name</h2>
<h3>Info:</h3>
<ul>
    <li><p>Employee Number: @data.EmployeeNumber</p></li>
    <li><p>Hire Date: @data.HireDate</p></li>
    <li><p>Salary: @data.Salary</p></li>
</ul>

